@{
    ViewData["Title"] = "Administration";
}
@{

}

<a class="navbar-brand" asp-area="Admin" asp-controller="Statuses" asp-action="Index">Statuses</a>
<a class="navbar-brand" asp-area="Admin" asp-controller="Trackers" asp-action="Index">Trackers</a>
<a class="navbar-brand" asp-area="Admin" asp-controller="Priorities" asp-action="Index">Priorities</a>
<a class="navbar-brand" asp-area="Admin" asp-controller="Projects" asp-action="Index">Projects</a>
<a class="navbar-brand" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>