@model NetMind.Areas.Admin.Models.Priority

@{
    ViewData["Title"] = "Create";
    ViewData["CardTitle"] = "Priority";
    Layout = "EditView";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-1 col-form-label"></label>
        <input asp-for="Name" class="col-sm-3 form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label"></label>
        <input class="form-check-input" asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
    </div>
    <div class="form-group form-check">
        <label class="form-check-label"></label>
        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="form-group cols-md-3 row">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>