@{
    Layout = "_TopView";
}

@section Navi{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="Site" asp-controller="Issues" asp-action="Index">Issues</a>
            <a class="navbar-brand" asp-area="Site" asp-controller="Issues" asp-action="Create">New Issue</a>
        </div>
    </nav>
}


@RenderBody()

