@{
    Layout = "_TopView";
}

@section Navi{
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" asp-area="Site" asp-controller="Issues" asp-action="Index">Issues</a>
        <a class="navbar-brand" asp-area="Site" asp-controller="Issues" asp-action="Create">New Issue</a>
    </nav>
}


@RenderBody()

